<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604541592319-8s6rub48lid8m9gaqbi5pconjmrmmghd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604541592319-8s6rub48lid8m9gaqbi5pconjmrmmghd</string>
	<key>API_KEY</key>
	<string>AIzaSyBcAOtzNUu1bK5QFN8ZRZyNp5FynyS_hGc</string>
	<key>GCM_SENDER_ID</key>
	<string>604541592319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentClearance</string>
	<key>PROJECT_ID</key>
	<string>students-clearence</string>
	<key>STORAGE_BUCKET</key>
	<string>students-clearence.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604541592319:ios:10568a148bae6f03c0e2ca</string>
</dict>
</plist>